.git
node_modules
**/node_modules
.env*
!.env.example
.turbo
dist
**/dist
.pytest_cache
__pycache__
*.pyc
.DS_Store
Thumbs.db
.next
**/.next
.venv
**/.venv
*.log
**/*.log
*.tsbuildinfo
**/*.tsbuildinfo
